<div class="footer">
  <div class="giti"></div>
  <div class="gni"></div>
  <div class="gsan"></div>
  <div class="gyon"></div>
  <div class="ggo"></div>
  <div class="groku"></div>
  <div class="gnana"></div>
  <div class="ghati"></div>
</div>