.footer{
  background-color: gray;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-around;
  /* border: 3px solid black; */
  background: linear-gradient(to bottom right, gray, azure);
}

.message-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-form{
  width: 40vw;
  height: 8vh;
  border: 2px solid black;
  margin: 5px;
  font-size: 18px;
  border-radius: 15px;
}

.message-btn{
  width: 5vw;
  height: 5vh;
  background-color: lightgray;
  border: 2px solid black;
  margin: 5px;
  font-size: 16px;
  border-radius: 15px;
}

.new_link{
  font-size: 20px;
  margin: 20px;
}