.header{
  background-color: lightblue;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  border: 4px double blue;
  background: linear-gradient(to bottom right, #7fffff, #c1ffff);
}

.title{
  display: flex;
  align-items: center;
}

.title-logo{
  font-size: 50px;
  background-color: aliceblue;
  margin-top: 10px;
  background: linear-gradient(to bottom right,#e0ffe0, #c1ffff);
  border-radius: 30px;
}

.header-rigth{
  font-size: 25px;
}

.lists-right{
  list-style: none;
  
}

.day{
  font-size: 20px;
  text-align: center;
}