.main{
  display: flex;
  width: 100vw;
  height: 70vh;
}

.side{
  background-color: lightgray;
  width: 20%;
  font-size: 20px;
  
}

.side_list{
  margin: 20px;
}

.name_list{
  list-style: none;
}

.chat_space{
  background-color: white;
  width: 80%;
}